body {
   padding:50px;
}

.anime-block-wrapper{
    display: inline-grid;
    grid-template-columns:repeat(3,280px) ;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}


.anime-block{
    display: inline-block;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.anime-image{
border-radius: 5px;
height: 15rem;

display: block;
margin-top: 17px;
margin-left: auto;
margin-right: auto;
}

.anime-title{
display: block;

}